version: "3.8"

services:
  mongo:
    image: mongo:latest
    container_name: my-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    image: aymadr/projet-backend:v1
    build: ./backend
    container_name: my-backend
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    image: aymadr/projet-frontend:v1
    build: ./frontend
    container_name: my-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge
